<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jc's BLOG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
            <img src="images/logo.jpg" alt="">
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/create">Crear Post</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="text-center border border-light p-5 bg-light">
    <h1>ULTIMAS PUBLICACIONES</h1>
    <ul>
      <% publicaciones.forEach((publicacion) => { %>
          <li>
            <div class="card">
              <div class="card-header">
              <h3><a href="/blog/ver/<%= publicacion.id %>"><%= publicacion.title %> </a></h3>
            </div>
            <div class="card-body">
              <h5><%= publicacion.usuario.name %> </h5>
              <h6><%= publicacion.updatedAt %> </h6> 
              <button type="button" class="btn btn-info" onclick="location.href='/blog/update/<%= publicacion.id  %>'">Editar</button>
              <button type="button" class="btn btn-danger" onclick="deletePublicacion(<%= publicacion.id  %>)" >Borrar</button>
            </div>
              
              
          </li>
     <% }); %>
  </ul>
</div>
    
  </div>

  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; JC´S BLOG</small>
    </div>
  </footer>





  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>
<script src="/javascripts/index.js"></script>
  
</body>
</html>
  


  