<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Publicacion </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
            <img src="./../../images/logo.jpg" alt="">
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/blog">Inicio
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Crear Post
                <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h1><%= title %></h1>

  <form action="/blog/<%= action %> " method="post">
    <div>
        <label for="name">Usuario</label>
        <% if (locals.usuario) { %>
            <input type="hidden" id="id" name="id" value="<%= usuario.id  %> ">
            <input type="text" id="name" name="name" value="<%= usuario.name  %> ">
            <% } else { %>
                <input type="text" id="name" name="name">
            <% } %>
        </div>
        <% if (locals.errorMessage) { %>
            <p style="color: red"><%=  errorMessage %> </p>
        <% } %>


            <div>
                <label for="titulo">Titulo</label>
                <% if (locals.titulo) { %>
                    <input type="hidden" id="id" name="id" value="<%= titulo.id  %> ">
                    <input type="text" id="name" name="title" value="<%= titulo.name  %> ">
                    <% } else { %>
                        <input type="text" id="name" name="name">
                    <% } %>
                </div>
                <% if (locals.errorMessage) { %>
                    <p style="color: red"><%=  errorMessage %> </p>
                <% } %>
            </div>

        <button>Publicar</button>
    </form>
</body>
</html>